
<script>
    // Function to create a copy button and append it next to each <pre> tag
    document.querySelectorAll('pre').forEach((preTag) => {
      // Create a copy button for each <pre> block
      const copyButton = document.createElement('button');
      copyButton.classList.add('copy-button');
      copyButton.innerText = 'Copy';

      // Add the button inside the <pre> tag
      preTag.appendChild(copyButton);

      // Add click event listener to the copy button
      copyButton.addEventListener('click', () => {
        const code = preTag.querySelector('code');  // Get the <code> inside <pre>

        // Use the Clipboard API to copy text
        navigator.clipboard.writeText(code.textContent).then(() => {
                 // Change button text to "Copied!"
          copyButton.innerHTML = 'Copied!';
          copyButton.style.color ="green"
          copyButton.style.background ="white"
        }).catch((err) => {
         copyButton.style.color ="red"
          copyButton.style.background ="white"
          copyButton.innerHTML = 'Copied Error';
        });
      });
    });
  </script>

<footer class="footer">
  <div class="page-container">
      <div class="row">
          <div class="col-md-6 text-center text-md-start">
              <script>document.write(new Date().getFullYear())</script> © ReadyForInterview - By <span
                  class="fw-bold text-decoration-underline text-uppercase text-reset fs-12">closelocation</span>
          </div>
          <div class="col-md-6">
              <div class="text-md-end footer-links d-none d-md-block">
                  <a href="javascript: void(0);">About</a>
                  <a href="javascript: void(0);">Support</a>
                  <a href="javascript: void(0);">Contact Us</a>
              </div>
          </div>
      </div>
  </div>
</footer>