<!DOCTYPE html>
<html lang="en">
<head>
  <title>Interview Questions by Group</title>
</head>
<body>
  <h1>Interview Questions by Group</h1>
  <ul>
    <% for (const [group, routes] of Object.entries(groupedRoutes)) { %>
      <li><strong><%= group %></strong>
        <ul>
          <% routes.forEach((route) => { %>
            <li><a href="<%= route.endpoint %>"><%= route.title %></a></li>
          <% }); %>
        </ul>
      </li>
    <% } %>
  </ul>
</body>
</html>
